@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Bold'), url("../font/Gilroy/Gilroy-Bold.otf") format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-BoldItalic'), url("../font/Gilroy/Gilroy-BoldItalic.otf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Light'), url("../font/Gilroy/Gilroy-Light.otf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-LightItalic'), url("../font/Gilroy/Gilroy-LightItalic.otf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Medium'), url("../font/Gilroy/Gilroy-Medium.otf") format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-MediumItalic'), url("../font/Gilroy/Gilroy-MediumItalic.otf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Semibold'), url("../font/Gilroy/Gilroy-Semibold.otf") format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-SemiboldItalic'), url("../font/Gilroy/Gilroy-SemiboldItalic.otf") format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Regular'), url("../font/Gilroy/Gilroy-Regular.otf") format('truetype');
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-RegularItalic'), url("../font/Gilroy/Gilroy-RegularItalic.otf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Thin'), url("../font/Gilroy/Gilroy-Thin.otf") format('truetype');
    font-weight: lighter;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-ThinItalic'), url("../font/Gilroy/Gilroy-ThinItalic.otf") format('truetype');
    font-weight: lighter;
    font-style: italic;
}